*{
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}
header {
  text-align: center;
  color: white;
  background-image: url("coffee-images-main/banner.jpg") ;
  background-size: cover;
  height: 650px;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
  max-width: 100%;
}
main{
  text-align: left;
  line-height: 2;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
footer{
  text-align: center;
  background-color: black;
  color: white;
  height: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
  padding-top: 10px;
}
nav a{
  text-align: center;
  color: white;
  padding-right: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2,h3{
  padding-left: 10px;
}
.container{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.read-more{
  background-color: black;
  color: white;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
}
.more-info{
  background-color: saddlebrown;
  color: white;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
